{% extends 'base.html.twig' %}

{% block title %}Nouvelle position{% endblock %}

{% block header %}
<div class="player-create__wrapper">
    {% include "layout/header/_dashboard_page_topbar.html.twig" with {
        title: "Nouveau poste",
        backPath: path('more_index'),
        img: '✕'
    } %}
{% endblock %}
{% block body %}
    <main class="player-create">

        {{ form_start(newPositionForm, { attr: { class: 'player-create__form' } }) }}
            <div class="player-create_card">
                <section class="player-create__section">
                    <div class="player-create__field">
                        {{ form_label(newPositionForm.name, "Le nom du poste", { label_attr: { class: 'form-body_label' } }) }}
                        {{ form_widget(newPositionForm.name, { attr: { class: 'form-body_input' } }) }}
                    </div>
                </section>
                <div class="player-create_actions">
                    <a href="{{ path('more_index') }}" class="btn btn-secondary">
                        Annulé
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Validé
                    </a>
                </div>
            </div>
        {{ form_end(newPositionForm) }}

    </main>
</div>
{% endblock %}
{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}