{% extends "base.html.twig" %}

{% block header %}
    {% include "layout/header/_dashboard_page_topbar.html.twig" with {
        title: "Fiche de l'équipe",
        backPath: path('team_index'),
        img: '←',
        
        actionLabel: '<img src="' ~ asset('images/icons/edit.png') ~ '" alt="edit">'
    } %}
{% endblock %}
{% block body %}

    <div class="player-profil__header">
        <div class="player-profil__essentials">
            <h3 class="player-profil__title">{{ team.name }}</h3>
            <p class="player-profil__age">{{ team.category }}</p>
        </div>
    </div>
    
    <main class="dashboard-main">
        <section class="dashboard-card">

            {# {% if players %} #}

                <ul class="card-list">

                    {% for player in team.players %}

                        <li class="card-list__item">
                            <a class="card-list__link" href="{{ path('player_show', { 'id' : player.id }) }}">
                                <div class="player-avatar">
                                    {{ player.firstname|slice(0,1) }}{{ player.lastname|slice(0,1) }}
                                </div>
                                <div>
                                    <h3 class="card-list__title">{{ player.firstname }} {{ player.lastname }}</h3>
                                    <p class="card-list__description"><span>{{ player.team }}</span> · <span>poste</span> · <span>#{{ player.number }}</span></p>
                                </div>
                                <div>
                                
                                </div>
                            </a>
                        </li>

                    {% endfor %}

                </ul>
            
            {# {% else %} #}

                <p class="empty-state">Aucun joueur enregistré dans cette équipe - Commencé l'enregistrement</p>
            
            {# {% endif %} #}

        </section>            
    </main>
   
{% endblock %}