{% extends 'base.html.twig' %}

{% block title %}Sanction{% endblock %}

{% block header %}
    {% include "layout/header/_dashboard_page_topbar.html.twig" with {
        title: 'Sanctions',
        actionPath: path('sanction_new'),
        actionLabel: '+'
    } %}
{% endblock %}

{% block body %}
    <main class="dashboard-main">
        <div class="">
            {# STATS #}
        </div>

        <section class="dashboard-card">

            {% if sanctions %}

                <ul class="card-list">

                    {% for sanction in sanctions %}

                        <li class="card-list__item">
                            <a class="card-list__link sanction-list__link" href="{{ path('sanction_show', { 'id' : sanction.id }) }}">
                                {% include "sanction/partials/_sanction_card.html.twig" with {
                                    type: sanction.type
                                } %}
                                <div class="player-avatar">
                                    {{ sanction.player.firstname|slice(0,1) }}{{ sanction.player.lastname|slice(0,1) }}
                                </div>
                                <div class="sanction-list__info">
                                    <h3 class="card-list__title">{{ sanction.player.firstname }} {{ sanction.player.lastname }}</h3>
                                    <p class="card-list__description">
                                        <span>{{ sanction.type }}</span> • <span>{{ sanction.createAt|date('d/m') }}</span>
                                    </p>
                                    <p class="sanction-list__reason">
                                        {{ sanction.reason }}
                                    </p>
                                </div>
                                <div>
                                
                                </div>
                            </a>
                            {# {% include "partials/_delete.html.twig" with {
                                pathAction: path("player_delete", { id: player.id }),
                                id: player.id
                            } %} #}
                        </li>

                    {% endfor %}

                </ul>
            
            {% else %}

                <p class="empty-state">Aucun joueur enregistré - Commencé l'enregistrement</p>
            
            {% endif %}
            
        </section>
        
    </main>
{% endblock %}

{% block footer %}
    {% include "layout/dashboardFooter.html.twig" %}
{% endblock %}