{% extends "base.html.twig" %}
{% block footer %}
    <footer class="footer-dashboard">
        <nav class="footer-dashboard__nav">
        
            <a class="footer-nav__item" href="{{path("user_dashboard")}}">
                <div class="footer-nav__icon">
                    <img src="{{asset('images/icons/home.png')}}" />
                </div>
                <span class="footer-nav__label">
                    Accueil
                </span>
            </a>

            <a class="footer-nav__item" href="{{ path("team_index") }}">
                <div class="footer-nav__icon">
                    <img src="{{asset('images/icons/maillot.png')}}" />
                </div>  
                <span class="footer-nav__label">
                    Equipes
                </span>          
            </a>

            <a class="footer-nav__item" href="{{ path("player_index") }}">
                <div class="footer-nav__icon">
                    <img src="{{asset('images/icons/player.png')}}" />
                </div>  
                <span class="footer-nav__label">
                    Joueurs
                </span>          
            </a>

            <a class="footer-nav__item" href="{{ path("planning_index") }}">
                <div class="footer-nav__icon">
                    <img src="{{asset('images/icons/schedule.png')}}" />
                </div>  
                <span class="footer-nav__label">
                    Planning
                </span>
            </a>

            <a class="footer-nav__item">
                <div class="footer-nav__icon">
                    <img src="{{asset('images/icons/equipment.png')}}" />
                </div>
                <span class="footer-nav__label">
                    Matériel
                </span>
            </a>

            <a class="footer-nav__item" href="{{ path("more_index") }}">
                <div class="footer-nav__icon">
                    <img src="{{asset('images/icons/setting.png')}}" />
                </div>
                <span class="footer-nav__label">
                    Plus
                </span>
            </a>

        </nav>
    </footer>
{% endblock %}