<header class="dashboard-topbar">

    <div class="dashboard-topbar_left">
        {% if backPath is defined %}
            <a href="{{ backPath }}" class="dashboard-topbar_backPath">{{ img }}</a>
        {% endif %}

        <h2 class="dashboard-topbar_title">{{ title }}</h2>
    </div>

    <div class="dashboard-topbar_action">
        {% if actionPath is defined %}
            <a href="{{ actionPath }}" class="dashboard-topbar_cta">
                {{ actionLabel|default('+')|raw }}

                {% if actionText is defined %}
                    <span>{{ actionText }}</span>
                {% endif %}
            </a>
        {% endif %}

        {% if deletePath is defined %}
            {% include "partials/_delete.html.twig" with {
                pathAction: deletePath,
                id: id,
                className: 'cta-delete--topbar',
            } %}
        {% endif %}
    </div>

</header>